<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="tC/e9LIb6lBMDgb1Jq2LmQ1/h7N2JHTSDUCI+dh11/06au8PVPyFPzKqf1HEhbibYcprxST/GeoObJGbpFOK3w==" />

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload" />
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <p id="notice"></p>
    <p>
      <strong>Title:</strong>
     <%= @book.title %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= @book.body %>
    </p>
  
  
  
  
<%= link_to "edit", edit_list_path(@book.id) %>
<%= link_to "back", index %>

